<!doctype html>
<html lang="fr">
<head>
  <meta name="charset" content="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <title>{{titre}}</title>
  <meta name="description" content="{{description}}">
</head>
<body>

  <section>
    <div >
     <h1>{{titre}}</h1>
     <h2>{{club}}</h2>
     <h3>{{equipe}}</h3>
     <p>{{description}}</p>
   </div>

   <div>
   {{& svg.logo}}
   </div>

  </section>

</body>
</html>
