

<ul class="sg-colors">
  <h2>Couleur primaire </h2>
  {{#color-primary}}
	<li>
		<span class="sg-swatch" style="background: {{hex}};"></span>
		<span class="sg-label">{{hex}}</span>
	</li>
  {{/color-primary}}

</ul>
  <h2>Couleur secondaire 1</h2>
<ul class="sg-colors">
  {{#color-secondary-1}}
	<li>
		<span class="sg-swatch" style="background: {{hex}};"></span>
		<span class="sg-label">{{hex}}</span>
	</li>
  {{/color-secondary-1}}

</ul>

  <h2>Couleur secondaire 2 </h2>
<ul class="sg-colors">
  {{#color-secondary-2}}
	<li>
		<span class="sg-swatch" style="background: {{hex}};"></span>
		<span class="sg-label">{{hex}}</span>
	</li>
  {{/color-secondary-2}}

</ul>
